footer {
    background-color: #2BAE66;
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
}

.top-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.bottom-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

@media (max-width: 600px) {
    .top-box {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
