#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
}

html, body {
  margin: 0;
  padding: 0;
}
html, body, #root {
  height: 100%;
}

.main {
  flex: 1;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}
